:root {
  // Colors
  --white: #ffffff;
  --black: #000000;
  --silver: #cccccc;
  --charcoal: #1f1f1f;
  --graphite: #4e4e4e;
  --seashell: #fff2f1;
  --hot-pink: #ff589b;
  --deep-pink: #ff136f;
  --cornflower-blue: #4289ff;
  --electric-indigo: #3f07f8;
  --tangerine: #ff9c35;
  --golden-yellow: #ffd019;
  --dim-gray: #707070;
  --light-gray: #f4f4f4;
  --misty-rose: #feeae9;
  --white-smoke: #f1f1f1;

  // Fonts
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
}
